<%- include ('../includes/admin/header.ejs') %>
<title>Bishop: </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto text-white">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/addUser"><i class="fas fa-sign-in-alt"></i>
                    Register</a>
              </li>
          
            </ul>
            
          </div>
        </div>
      </nav>

  this is the reset password home page
  
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
                <h2 style="text-align: center;">Reset Password  </h2>
                
                   <div class="card-body">
                    
                    <form action="/resetPassword" method="post" novalidate> 
                      
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email"  class="form-control"  name="email" placeholder="Enter your Email">
                     
                    <div style="text-align: center;">
                      <% if (error.length > 0) {
                          for(let errors of error){
                              if(errors.param == "email"){ %>
                                  <strong><%= errors.msg %></strong>
                       
                              <% } %>
                        <% }
                      }%>
                   </div>
                  </div>
       
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password"  class="form-control"  name="password" placeholder="Enter your Password">
                    <div style="text-align: center;">
                      <% if (error.length > 0) {
                          for(let errors of error){
                              if(errors.param == "password"){ %>
                                  <strong><%= errors.msg %></strong>
                       
                              <% } %>
                        <% }
                      }%>
                   </div>
                    
                  </div>
                  
                
                   <input type="submit" class="btn btn-primary" value="Submit">
                </form>
                </div>
               
        </div>
        </div>
    </div>
</div>   

<%- include ('../includes/admin/footer.ejs') %>